---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ base_path }}/assets/css/academic-home.css">
  </head>

  <body class="academic-home academic-blog-page">
    {% include browser-upgrade.html %}
    {% include academic-nav.html %}

    <main class="academic-container" role="main">
      <article class="academic-post academic-blog">
        {{ content }}
      </article>
    </main>

    <footer class="academic-footer">
      <div class="academic-container">
        &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
      </div>
    </footer>
  </body>
</html>
